# **LIST COMPREHENSION**
Python’da mevcut bir listeden veya iterable (döngüyle gezilebilen) bir veri yapısından kısa ve okunabilir bir şekilde yeni liste üretmeye yarayan bir yazım şeklidir.
Yani, for döngüsü ve append() kullanarak yaptığımız işlemleri tek satırda daha pratik şekilde yazmamızı sağlar.

In [2]:
# Normal döngü ile
sayilar = [1, 2, 3, 4, 5]
kareler = []
for s in sayilar:
    kareler.append(s**2)

print(kareler)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [3]:
# Aynı işlemi List Comprehension ile
sayilar = [1, 2, 3, 4, 5]
kareler = [s**2 for s in sayilar]
print(kareler)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
# Koşullu kullanım
sayilar = [1, 2, 3, 4, 5, 6, 7, 8, 9]
ciftler = [s for s in sayilar if s % 2 == 0]
print(ciftler)  # [2, 4, 6, 8]

[2, 4, 6, 8]

In [5]:
# İç içe kullanım
matris = [[1, 2], [3, 4], [5, 6]]
düz = [eleman for satir in matris for eleman in satir]
print(düz)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [6]:
numbers = [1,2,3,4,5,6,7,8,9]
new_list = [n for n in numbers]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
numbers = [1,2,3,4]
letters = "abcd"

list1 = []
for n in numbers:
    for l in letters:
        list1.append((n,l))
print(list1)

list2 = [(n,l) for n in numbers for l in letters]
print(list2)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]
[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [12]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [2,3,6,9,5]

list3 = []
for i in list1:
    if i not in list2:
        list3.append(i**2)
print(list3)

list4 = [n**2 for n in list1 if n not in list2]
print(list4)

[1, 16, 49, 64]
[1, 16, 49, 64]

In [15]:
list1 = [[1,2,3],[4,5,6,7],[8,9,10,11,12]]

list2 = []
for i in list1:
    for j in i:
        list2.append(j)
print(list2)

list3 = [j for i in list1 for j in i]
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [16]:
list_methods = []
for i in dir(list):
    if "__" not in i:
        list_methods.append(i)
print(list_methods)

new_list = [i for i in dir(list) if "__" not in i]
print(new_list)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']